.band-header {
    text-align: left;
    padding: 2px;
    color: white;
    background-color: rgb(245, 11, 11);
  }


  .band-headerr {
   
    padding: 2px;
    height: 6%;
    background-color: rgb(12, 11, 11);
  }


  .vl {
border-left: 1px solid black;
border-right: 1px solid black;
height: 500px;
}



  footer {
text-align: center;
padding: 1px;
background-color: black;
color: white;
}


.vl {
    border-left: 1px solid rgb(226, 218, 218);
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 730;
  }

  aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }


  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }


  

  


  